/*************** 
 * BASE STYLES *
 ***************/

/* Overwrite browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variables */
:root {
  --background-green: #009688;
  --background-beige: #d7dbd6;
  --sidebar-header: #ededed;
  --notifications-text-color: rgba(48, 48, 48, 0.96);
  --notifications-link-color: rgba(48, 48, 48, 0.85);
}

/************* 
 * MAIN GRID *
 *************/
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 12.8rem 1fr;
}

/****************** 
 * APP BACKGROUND *
 ******************/
.top {
  background: var(--background-green);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.bottom {
  background: var(--background-beige);
  grid-column: 1 /-1;
  grid-row: 2 / -1;
}

/*******
 * APP *
 *******/

.app {
  display: grid;
  grid-template-columns: 42rem 1fr;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 139.6rem;
  margin: 2rem auto;
}

/***********
 * SIDEBAR *
 ***********/
.sidebar {
  grid-column: 1 / 2;
  background: red;
}

/* Styles in common */
.sidebar-header,
.sidebar-notifications {
  padding: 0 2rem;
}

.sidebar-header {
  background: var(--sidebar-header);
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

/* Profile image */
.sidebar-header > img {
  width: 4rem;
}

.sidebar-header-icons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

/* Selects the icon in the center */
.sidebar-header-icons img:nth-child(2) {
  margin: 0 3rem;
}

/* Sidebar notifications */
.sidebar-notifications {
  display: flex;
  align-items: center;
  background: #9de1fe;
  height: 9rem;
}

.sidebar-notifications > img {
  margin-right: 2rem;
}

.sidebar-notifications-message {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-notifications-message span {
  font-size: 1.6rem;
  color: var(--notifications-text-color);
}

.sidebar-notifications-message a {
  font-size: 1.4rem;
  color: var(--notifications-link-color);
}

.sidebar-notifications-message a:hover {
  text-decoration: underline;
}

/********
 * MAIN *
 ********/
.main {
  grid-column: 2 / -1;
  background: blue;
}
