/*************** 
 * BASE STYLES *
 ***************/

/* Overwrite browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Variables */
:root {
  --background-green: #009688;
  --background-beige: #d7dbd6;
  --sidebar-header: #ededed;
}

/************* 
 * MAIN GRID *
 *************/
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 12.8rem 1fr;
}

/****************** 
 * APP BACKGROUND *
 ******************/
.top {
  background: var(--background-green);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.bottom {
  background: var(--background-beige);
  grid-column: 1 /-1;
  grid-row: 2 / -1;
}

/*******
 * APP *
 *******/

.app {
  display: grid;
  grid-template-columns: 44rem 1fr;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 139.6rem;
  margin: 2rem auto;
}

/***********
 * SIDEBAR *
 ***********/
.sidebar {
  grid-column: 1 / 2;
  background: red;
}

.sidebar-header {
  background: var(--sidebar-header);
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 0 2rem;
}

/* Profile image */
.sidebar-header > img {
  width: 4rem;
}

.sidebar-header-icons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

/* Selects the icon in the center */
.sidebar-header-icons img:nth-child(2) {
  margin: 0 3rem;
}

/********
 * MAIN *
 ********/
.main {
  grid-column: 2 / -1;
  background: blue;
}
